body {
    margin: 0;
}
#gallery {
    padding: 0;
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
.gallery__item {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 15px;
}
.gallery__img {
    width: 100%;
    display: block;
}

#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}
